.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
}
h2{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px
}

/*margin-left: 50px; margin-right: 50px; margin-top: 15px*/